body {
    font-family: "DM Sans", sans-serif;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* body :focus {
    outline: red solid 3px;
    border-radius: 5px;
} */

.modalLightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.previousSlide {
    position: absolute;
    left: 7rem;
    top: 20rem;
    cursor: pointer;
    width: 40px;
    fill: #901C1C;
    background-color: transparent;
    border: 0;
}

.closeModal {
    position: absolute;
    right: 6.3rem;
    top: 2.5rem;
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

.nextSlide {
    position: absolute;
    right: 7rem;
    top: 20rem;
    cursor: pointer;
    width: 40px;
    fill: #901C1C;
    background-color: transparent;
    border: 0;
}

.figure {
    height: 42rem;
    padding-top: 5vh;
}

.figcaption {
    text-align: initial;
    padding-left: 12.5%;
    color: #901C1C;
    padding-top: 0.4rem;
    font-size: 1.2rem;
}

.lightbox {
    display: flex;
    text-align: center;
    position: relative;
}

.lightbox figure img{
    width: 75%;
    height: 85vh;
    border-radius: 5px;
    object-fit: cover;
}

.lightbox figure video{
    width: 75%;
    height: 85vh;
    border-radius: 5px;
    object-fit: cover;
}

#main {
    margin-left: 90px;
    margin-right: 90px;
    padding-bottom: 3rem;
}

.homePage {
    display: inline-flex;
    margin-left: 100px;
}

.logo {
    height: 50px;
}

#contact_modal {
    display: none;
    margin-top: -18px;
    margin-left: 5%;
    height: 100%;
    background: rgba(255, 255, 255, 0.627);
    z-index: 1000;
}

#modal-form button:hover {
    background-color: #901C1C;
    color: white;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
}

.pictureAndBtnContact {
    width: 57%;
    justify-content: space-between;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.filter {
    display: flex;
    position: absolute;
    margin-top: 20px;
    margin-bottom: 50px;
    font-weight: bold;
    z-index: 1;
}

.dropdown {
    top: -0.5rem;
    position: absolute;
    left: 6rem;
}


.dropdown.active1 .selectedActive{
    border-radius: 5px 5px 0 0;
}

.dropdown.active1 .selectedActive::before{
    content:'';
    width: 163px;
    height:1px;
    margin-left: 0.5rem;
    background:white;
    position: absolute;
    bottom:0;
    left:0;
}

.btnDropdown {
    width: 180px;
    height: 60px;
    background-color: #901C1C;
    border: 0;
    border-radius: 5px;
    position: relative;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 25px;
    cursor: pointer;
    font-size: 1rem;
}

.dropdown_content {
    display: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.dropdown .btnDropdown span {
    display: block;
} 

.svgIcon .svgDisable{
    width:20px;
    height:20px;
    fill:#fff;
    transform: rotate(180deg);
    position: absolute;
    top: 19px;
    right: 15px;
}
.svgIcon .svgEnable{
    width:20px;
    height:20px;
    fill:#fff;
    position: absolute;
    top: 19px;
    right: 15px;
}

.item {
    width: 180px;
    height: 55px;
    background-color: #901C1C;
    border: 0;
    position: relative;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 1.5rem;
    font-size: 1rem;
}

.item:hover {
    background-color: #DB8876;
    color: black;
    transition: 0.3s;
    cursor: pointer;
}

.item.hidden{
    display: none;
}

.item:before{
    content:'';
    width: 163px;
    height:1px;
    margin-left: 0.5rem;
    background:white;
    position: absolute;
    bottom:0;
    left:0;
}

.btnDropdown[data-type="2"] ~ .dropdown_content .item-date:before { 
    display: none;
}

.btnDropdown[data-type="0"] ~ .dropdown_content .item-titre,
.btnDropdown[data-type="1"] ~ .dropdown_content .item-titre,
.btnDropdown[data-type="2"] ~ .dropdown_content .item-date{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.item:last-child:before{
    display: none;
}

.contact_button:hover {
    background-color: #DB8876;
    color: black;
    transition: 0.3s;
}

.contact_button {
    font-size: 17px;
    font-weight: bold;
    color: white;
    padding: 11px;
    margin-top: 20px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    box-shadow: 0px 0px 15px -5px #00000078;
    width: 30%;
    margin-top: 55px;
    margin-left: 30%;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
}

.modal header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 115px;
}

.modal header img {
    cursor: pointer;
    align-self: baseline;
    height: 30px;
}

.modal header h2 {
    font-size: 45px;
    font-weight: normal;
    margin-top: -15px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 25px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form input {
    height: 45px;
    border: none;
    border-radius: 5px;
    font-size: large;
    padding-left: 1rem;
}

.profilHeader {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2.5rem;
    margin-top: 30px;
}

.profilPicture {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 100px;
}

.profilNamePhotographer {
    color: #D3573C;
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 0;
}

.profilLocationPhotographer {
    color: #901C1C;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 22px;
}

.profilTagPhotographer {
    margin: 0;
    font-size: 18px;
}

.photograph-media {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 6rem;
}

.profilMedia {
    width: calc(100% / 3 - 60px);
}

.div_video {
    position: relative;
    width: 100%;
    height: 280px;
}

.legendVideo .likeBtn {
    position: absolute;
    right: -5px;
    bottom: -3px;
    color: #901C1C;
    border: 0;
    background-color: transparent;
}

.likeHeartVideo .likeBtn:hover{
    font-size: x-large;
    margin-right: -5px;
    margin-bottom: -5px;
    transition: 0.15s;
}

.likeHeartVideo span{
    position: absolute;
    right: 20px;
    bottom: -5px;
    color: #901C1C;
}

.likeHeartVideo .likeBtn {
    cursor: pointer;
}

.likeHeart .likeBtn:hover{
    font-size: x-large;
    transition: 0.2s;
    margin-left: -5px;
    margin-top: -7px;
    transition: 0.15s;
}

.likeHeart .likeBtn {
    position: absolute;
    cursor: pointer;
    color: #901C1C;
    border: 0;
    background-color: transparent;
}

.likeHeart span {
    color: #901C1C;
    margin-right: 5px;
}

.heartFull {
    display: none
}

.legend {
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    justify-content: space-between;
    width: 95%;
}


.profilTitleMedia {
    font-weight: normal;
    color: #901C1C;
    font-size: unset;
    margin: 0;
}

.divImgMedia {
    position:relative;
    width:100%;
    height:280px;
}

.imgMedia:hover{
    box-shadow: 0px 0px 15px 0px #00000078;
    margin-left: -2%;
    margin-top: -3%;
    width: 104%;
    height: 104%;
    transition: 0.25s;
}

.imgMedia {
    position:absolute;
    object-fit:cover;
    cursor: pointer;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-radius: 5px;
}

.profilVideo {
    position: absolute;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    top: -25px;
    left: 0;
}

.profilVideo:hover{
    box-shadow: 0px 0px 15px 0px #00000078;
    margin-left: -2%;
    margin-top: -3%;
    width: 104%;
    height: 104%;
    transition: 0.25s;
}

.iconPlay {
    border-style: solid;
    box-sizing: border-box;
    border-width: 35px 0px 35px 60px;
    border-color: transparent transparent transparent #ffffffad;
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 43%;
    pointer-events: none;
}

.mp4 {
    position: absolute;
    bottom: -5px;
}

.textAera {
    resize: none;
    border: 0px;
    border-radius: 5px;
    padding-left: 1rem;
    padding-top: 0.5rem;
    min-height: 130px;
    outline: none;
    font-size: x-large;
}

#modal-form input {
    outline: none;
}

.borderInput p {
    margin-top: 3px;
    margin-bottom: 0;
}

.border-red {
    border: 2px solid red;
}

#textAera-p {
    margin: 0;
    margin-top: 5px;
}

.text-red{
    font-size: 0.8rem;
    background-color: wheat;
    color: red;
    border-radius: 5px;
    padding-right: 7px;
    text-align: end;
}

.totalLikes span {
    font-weight: bold;
}

.price{
    display: flex;
    background-color: #DB8876;
    border-radius: 5px 5px 0 0;
    position: fixed;
    bottom: 0;
    right: 1.5rem;
    padding: 1rem 1.5rem;
    z-index: 2;
}

.profilPrice {
    font-weight: bold;
}

.pricePerDay {
    padding-left: 5rem;
}

@media screen  and (max-width: 1200px) {
    .modal {
        width: 45%;
        margin-left: 20%;
    }
}

@media screen and (max-width: 1100px) {
    .photograph-header {
        height: 100%;
    }

    .pictureAndBtnContact {
        flex-direction: column;
    }

    .profilMedia {
        width: calc(100% / 2 - 60px);
    }

    .previousSlide {
        left: 4%;
    }
    
    .closeModal {
        right: 6%;
    }
    
    .nextSlide {
        right: 4%;
    }
}

@media screen and (max-width: 800px) {
    .modal header {
        height: 0%;
    }

    .modal header h2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 700px) {
    .profilHeader {
        flex-direction: column;
        height: 100%;
    }

    .profilMedia {
        margin-top: 5%;
        width: calc(100% / 1 - 0px);
    }
}

@media screen and (max-width: 600px) {
    body {
        margin-left: -10%;
        margin-right: -10%;
    }

    .modal {
        width: 58%;
        margin-left: 10%;
      }

    .modal header {
        height: 0%;
    }

    .dropdown {
        top: 2.5rem;
        left: 0rem;
    }

    .photograph-media {
        margin-top: 8rem;
    }
}