body {
    font-family: "DM Sans", sans-serif;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
}

.modalLightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.modalLightbox img {
    cursor: pointer;
    background-color: black;
}

.lightbox {
    text-align: center;
}

.lightbox img{
    width: 900px !important;
    height: 700px;
    border-radius: 5px;
    object-fit: cover;
}

#main {
    margin-left: 90px;
    margin-right: 90px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

#contact_modal {
    display: none;
    position: fixed;
    margin-top: -18px;
    margin-left: 5%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.627);
    z-index: 1000;
}

#modal-form button:hover {
    background-color: #901C1C;
    color: white;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
}

/*.filterMedia {
    margin: 1rem 0 3rem 0;
    font-weight: bold;
}

.filterMedia label {
    padding-right: 1rem;
}

.filterMedia select {
    width: 140px;
    padding: 0.6rem;
    border: 0;
    border-radius: 5px;
    background-color: #901C1C;
    color: white;
    font-weight: bold;
    box-shadow: 0px 0px 15px -5px #00000078;
}

.filter option {
    font-weight: bold;
}*/

.filter {
    display: flex;
    margin-top: 20px;
    margin-bottom: 50px;
}

.option {
    display: flex;
    flex-direction: column;
}

.divFilter {
    padding-left: 20px;
}

.divOption {
    display: none;
}

.selected button {
    width: 140px;
    padding: 0.6rem;
    border: 0;
    border-radius: 5px 5px 0px 0px;
    background-color: #901C1C;
    color: white;
    font-weight: bold;
}

.option button {
    width: 140px;
    padding: 0.6rem;
    border: 0;
    border-top: solid 1px white;
    background-color: #901C1C;
    color: white;
    font-weight: bold;
}

.option :nth-child(2){
    border-radius: 0px 0px 5px 5px;
}

.contact_button:hover {
    background-color: #DB8876;
    color: black;
    transition: 0.3s;
}

.contact_button {
    font-size: 17px;
    font-weight: bold;
    color: white;
    padding: 11px;
    margin-top: 20px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    box-shadow: 0px 0px 15px -5px #00000078;
    width: 30%;
    margin-top: 55px;
    margin-left: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
}

.modal header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 115px;
}

.modal header img {
    cursor: pointer;
    align-self: baseline;
    height: 30px;
}

.modal header h2 {
    font-size: 45px;
    font-weight: normal;
    margin-top: -15px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 25px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form input {
    height: 45px;
    border: none;
    border-radius: 5px;
    font-size: large;
    padding-left: 1rem;
}

.profilHeader {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2.5rem;
    margin-top: 30px;
}

.profilPicture {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 100px;
}

.profilNamePhotographer {
    color: #D3573C;
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 0;
}

.profilLocationPhotographer {
    color: #901C1C;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 22px;
}

.profilTagPhotographer {
    margin: 0;
    font-size: 18px;
}

.photograph-media {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.profilMedia {
    width: calc(100% / 3 - 60px);
}

.div_video {
    position: relative;
    width: 100%;
    height: 280px;
}

.legendVideo i {
    position: absolute;
    right: 0;
    bottom: -5px;
    color: #901C1C;
}

.likeHeartVideo i:hover{
    font-size: x-large;
    margin-right: -5px;
    margin-bottom: -5px;
    transition: 0.2s;
}

.likeHeartVideo span{
    position: absolute;
    right: 20px;
    bottom: -5px;
    color: #901C1C;
}

.likeHeartVideo i {
    cursor: pointer;
}

.likeHeart i:hover{
    font-size: x-large;
    transition: 0.2s;
    margin-left: -3px;
    margin-top: -5px;
}

.likeHeart i {
    position: absolute;
    cursor: pointer;
}

.likeHeart span {
    color: #901C1C;
    margin-right: 5px;
}

.legend {
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    justify-content: space-between;
    width: 95%;
}

.legend i {
    color: #901C1C;
}

.profilTitleMedia {
    font-weight: normal;
    color: #901C1C;
    font-size: unset;
    margin: 0;
}

.divImgMedia {
    position:relative;
    width:100%;
    height:280px;
}

.imgMedia:hover{
    box-shadow: 0px 0px 15px 0px #00000078;
    margin-left: -2%;
    margin-top: -3%;
    width: 104%;
    height: 104%;
    transition: 0.25s;
}

.imgMedia {
    position:absolute;
    object-fit:cover;
    cursor: pointer;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-radius: 5px;
}

.profilVideo {
    position: absolute;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    top: -25px;
    left: 0;
}

.profilVideo:hover{
    box-shadow: 0px 0px 15px 0px #00000078;
    margin-left: -2%;
    margin-top: -3%;
    width: 104%;
    height: 104%;
    transition: 0.25s;
}

.iconPlay {
    border-style: solid;
    box-sizing: border-box;
    border-width: 35px 0px 35px 60px;
    border-color: transparent transparent transparent #ffffffad;
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 43%;
    pointer-events: none;
}

.mp4 {
    position: absolute;
    bottom: -5px;
}

.textAera {
    resize: none;
    border: 0px;
    border-radius: 5px;
    padding-left: 1rem;
    padding-top: 0.5rem;
    min-height: 130px;
    outline: none;
    font-size: x-large;
}

#modal-form input {
    outline: none;
}

.borderInput p {
    margin-top: 3px;
    margin-bottom: 0;
}

.border-red {
    border: 2px solid red;
}

#textAera-p {
    margin: 0;
    margin-top: 5px;
}

.text-red{
    font-size: 0.9rem;
    background-color: wheat;
    color: red;
    border-radius: 5px;
    padding-left: 7px;
}

.price{
    background-color: #DB8876;
    border-radius: 5px 5px 0 0;
    position: fixed;
    bottom: 0;
    right: 1.5rem;
    padding: 1rem 1.5rem;
    z-index: 2;
}

.profilPrice {
    font-weight: bold;
}

.pricePerDay {
    padding-left: 5rem;
}