body {
    font-family: "DM Sans", sans-serif;    
    margin-top: 18px;
    margin-left: 0px;
}

#main {
    margin-left: 90px;
    margin-right: 90px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

#contact_modal {
    display: none;
    position: absolute;
    margin-top: -18px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.627);
    z-index: 1000;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
}

#profilMedia {
    margin: 1rem 0 3rem 0;
    font-weight: bold;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    margin-top: 20px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    box-shadow: 0px 0px 15px -5px #00000078;
    width: 35%;
    margin-top: 55px;
    margin-left: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
}

.modal header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 115px;
}

.modal header img {
    cursor: pointer;
    align-self: baseline;
    height: 30px;
}

.modal header h2 {
    font-size: 45px;
    font-weight: normal;
    margin-top: -15px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 25px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form input {
    height: 45px;
    border: none;
    border-radius: 5px;
    font-size: large;
    padding-left: 1rem;
}

.profilHeader {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2.5rem;
    margin-top: 30px;
}

.profilPicture {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 100px;
}

.profilNamePhotographer {
    color: #D3573C;
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 0;
}

.profilLocationPhotographer {
    color: #901C1C;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 22px;
}

.profilTagPhotographer {
    margin: 0;
    font-size: 18px;
}

.photograph-media {
    display: flex;
}

.profilPictureMedia {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.profilVideo {
    width: 100%;
}

.textAera {
    resize: none;
    border: 0px;
    border-radius: 5px;
    padding-left: 1rem;
    padding-top: 0.5rem;
    min-height: 130px;
    outline: none;
    font-size: x-large;
}

#modal-form input {
    outline: none;
}

.borderInput p {
    margin: 0;
}

.borderInput .border-red {
    border: 2px solid red;
}

.borderInput .text-red{
    font-size: 0.8rem;
    color: red;
    font-weight: lighter;
    margin-bottom: -16.5px;
}

.price{
    background-color: #DB8876;
    border-radius: 5px 5px 0 0;
    position: fixed;
    bottom: 0;
    right: 1.5rem;
    padding: 1rem 1.5rem
}

.profilPrice {
    font-weight: bold;
}

.pricePerDay {
    padding-left: 5rem;
}